<div class="row">
    <div class="col-10 text-center">
        <div class="btn-group">
            @for (item of parkingLotList; track $index) {
                <button type="button" 
                [ngClass]="selectedParkingLot.parkingLotId == item.parkingLotId? 'btn-success':'btn-primary'"
                 class="btn" (click)="setSelectedParkingLot(item)">{{item.parkingLotName}}
                </button>
            } 
        </div>
    </div>
    <div class="col-2">
        
    </div>
</div>
<div class="parking-lot pt-2">
    @for (item of poarkingSpotList; track $index) {
        @if (checkIfParkingSpotBooked(item) != undefined) {
            <div class="parking-spot-booked" (click)="openReleaseModel(checkIfParkingSpotBooked(item))" >
                <div class="car">
                    <i class="fa fa-car"></i> 
                </div>
                <div class="car-no">
                    <small>{{checkIfParkingSpotBooked(item).vehicleNo}}</small>
                </div> 
               {{item}}
            </div>
        } @else {
            <div (click)="openModel(item)" class="parking-spot" >{{item}}</div>
        } 
    }
    
   
    <!-- <div class="parking-spot-booked" data-bs-toggle="modal" data-bs-target="#releaseBookModal">
        <div class="car">
            <i class="fa fa-car"></i> 
        </div>
        <div class="car-no">
            <small>MH-34-1122</small>
        </div>

        1
    </div>
    <div class="parking-spot" data-bs-toggle="modal" data-bs-target="#bookModal">2</div>
    <div class="parking-spot-booked">
        <div class="car">
            <i class="fa fa-car"></i>
        </div>
        3
    </div>
    <div class="parking-spot">4</div>
    <div class="parking-spot-booked">
        <div class="car">
            <i class="fa fa-car"></i>
        </div>
        5
    </div>
    <div class="parking-spot">6</div>
    <div class="parking-spot">7</div>
    <div class="parking-spot">8</div>
    <div class="parking-spot-booked">
        <div class="car">
            <i class="fa fa-car"></i>
        </div>
        9
    </div>
    <div class="parking-spot">10</div> -->
</div>

<div class="modal" id="bookModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title">In Entry</h4>
                <button type="button" (click)="closeModel()" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Spot No</label>
                        <input type="text" [(ngModel)]="bookingObj.spotNo" [value]="selectedParkingSpotNo" class="form-control" disabled>
                    </div>
                    <div class="col-6">
                        <label for="">Vehicle No</label>
                        <input type="text"  [(ngModel)]="bookingObj.vehicleNo" class="form-control" placeholder="Enter Vehicle No">
                    </div>
                    <div class="col-6">
                        <label for="">In-Time</label>
                        <input type="text"  [(ngModel)]="bookingObj.inTime" class="form-control" placeholder="Enter In-Time">
                    </div>
                    <div class="col-6">
                        <label for="">Mobile No</label>
                        <input type="text"  [(ngModel)]="bookingObj.mobileNo" class="form-control" placeholder="Enter Mobile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeModel()" >Cancel</button>
                <button type="button" class="btn btn-success" (click)="onBook()">Book</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="releaseBookModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title">Out Entry</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Spot No</label>
                        <input type="text" [(ngModel)]="selectParkingObj.spotNo" [value]="selectedParkingSpotNo" class="form-control" disabled>
                    </div>
                    <div class="col-6">
                        <label for="">Vehicle No</label>
                        <input type="text"  [(ngModel)]="selectParkingObj.vehicleNo" class="form-control" placeholder="Enter Vehicle No" disabled>
                    </div>
                    <div class="col-6">
                        <label for="">In-Time</label>
                        <input type="text"  [(ngModel)]="selectParkingObj.inTime" class="form-control" placeholder="Enter In-Time" disabled>
                    </div>
                    <div class="col-6">
                        <label for="">Mobile No</label>
                        <input type="text"  [(ngModel)]="selectParkingObj.mobileNo" class="form-control" placeholder="Enter Mobile" disabled>
                    </div>
                    <div class="col-6">
                        <label for="">Out-Time</label>
                        <input type="text"   class="form-control"  [(ngModel)]="selectParkingObj.outTime"   placeholder="Enter In-Time">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" (click)="releaseSpot()">Mark Out</button>
            </div>
        </div>
    </div>
</div>