.dashboard-container {
  background-image: url('../../../assets/cars.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: block;
  opacity: 2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-card {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 150px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  
  .occupied {
    color: red;
    font-weight: bold;
  }
  
  .available {
    color: green;
    font-weight: bold;
  }
  
